html {
    height: 100%; }
  
body, html {
    margin: 0;
    padding: 0; }
  
body {
  min-height: 100%;
  height: 100%;
  position: relative;
  font-family: "Museo", sans-serif;
  color: #202021; }

  
  p {
    /*font-family: verdana;*/
    margin-bottom: 10px;
    line-height: 1.4;
  }